<!DOCTYPE html>
<html>

  <head>
    <title>Tracerapp</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="UTF-8">
  </head>
  
  <body>
  <h2>Welcome people</h2>
  <p>My name is Jong-Hu and I am the creator of <i>Tracerapp</i></p>
  <% @locations.each do |l| %>
  <%# <%= if l.user.username.empty?%>
  <% #"No user..." %>
  <% #else %>
  <h2>User: <%= l.user.username %></h2>
  <h3>Latitude: <%= l.latitude %></h3>
  <h3>Longitude: <%= l.longitude %></h3>
  <% end %>
  <%= link_to 'Your location?', new_location_path %>
  <p>
  Download:
  <%= link_to "CSV", locations_path(format: "csv") %>
  <%= link_to "XLS", locations_path(format: "xls")%>
  </p>
    
  </body>
</html>