<!DOCTYPE html>
<html>

  <head>
    <title>Tracerapp</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="UTF-8">
  </head>
  
  <body>
  <center><h2>Welcome people</h2>
  <div id="time">ClickMe</div>
  <p>Welcome to <i>Tracerapp</i></p></center>
  <% @locations.each do |l| %>
  <h4>User: <%= l.user.username %></h4>
  <p>
  Latitude: <%= l.latitude %><br>
  Longitude: <%= l.longitude %><br>
  <%= link_to 'Show location', location_path(l.id) %>
  <% end %>
  </p>
  <%= link_to 'Your location?', new_location_path %>
  <p>
  Download:
  <%= link_to "CSV", locations_path(format: "csv") %>
  </p>
    
  </body>
</html>