require LocationHelper
<div id="map">
  <script type="text/javascript">
    initMap();
  </script>
</div>
<div id="details">
  <script type="text/javascript">
    initialize();
  </script>
</div>
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApzU3b0GAQzSzAUT9wtDNZtTZXi9WXi9Q&callback=initialize">
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApzU3b0GAQzSzAUT9wtDNZtTZXi9WXi9Q&callback=initMap">
</script>

<div class="container-fluid">
<div id="form">
<h4 id="time11"></h4>
<%= form_for(@location) do  |f| %>
  <h4>Location:</h4>
  <div id="res"></div>
  <div id="res1"></div>
  <div id="res2"></div>
  <%=f.label :latitude %><br>
  <p>
  <%=f.number_field :latitude, :id=>"latitude", step: :any %>
  </p>
  <%=f.label :longitude %><br>
  <p>
  <%=f.number_field :longitude, :id=>"longitude", step: :any %>
  </p>
  <%=f.label :info %><br>
  <p>
  <%=f.text_area :info, rows: "4", cols: "50" %>
  </p>
  <%=f.submit "Save" %>
  
  <div id="my_camera"></div>

  <input type=button value="Take Snapshot" onClick="take_snapshot()">

  <div class="field">
    <%= f.hidden_field :image %>
    <%= f.label :image %>: <br />
    <div id="results">Your captured image will appear here...</div>
  </div>
 <% end %>
</div>

</div>
        