require LocationHelper
<div id="map">
  <script type="text/javascript">
    initMap();
  </script>
</div>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApzU3b0GAQzSzAUT9wtDNZtTZXi9WXi9Q&callback=initMap">
</script>
<div class="container-fluid">
<div id="form">
<h4 id="time11"></h4>
<%= form_for(@location) do  |f| %>
  <h1>Location:</h1>
  <%=f.label :latitude %><br>
  <p>
  <%=f.number_field :latitude, :id=>"latitude", step: :any %>
  </p>
  <%=f.label :longitude %><br>
  <p>
  <%=f.number_field :longitude, :id=>"longitude", step: :any %>
  </p>
  <%=f.label :info %><br>
  <p>
  <%=f.text_area :info, rows: "4", cols: "50" %>
  </p>
  <%=f.submit "Save" %>
  <% end %>
</div>
</div>

var camera = new JpegCamera("#camera");

var snapshot = camera.capture();

snapshot.show(); // Display the snapshot

snapshot.upload({api_url: "/upload_image"}).done(function(response) {
  response_container.innerHTML = response;
  this.discard(); // discard snapshot and show video stream again
}).fail(function(status_code, error_message, response) {
  alert("Upload failed with status " + status_code);
});
        