
<h4>User: <%= @location.user.username %></h4>
<h4>Latitude: <%= @location.latitude %></h4>
<h4>Longitude: <%= @location.longitude %></h4>

<% if picture_for(@location, size: 300) == nil %>
<%= @location.image %><br>
<% else %>
<%= picture_for(@location, size: 600)%><br>
url: https://maps.googleapis.com/maps/api/staticmap
size=600x300
center=Brooklyn+Bridge,New+York,NY
city street ...
40.702147,-74.015794
40.711614,-74.012318
40.718217,-73.998284
zoom?
str map  = "//maps.googleapis.com/maps/api/staticmap?center=Brooklyn+Bridge,New+York,NY&amp;zoom=13&amp;size=600x300&amp;maptype=roadmap&amp;markers=color:blue%7Clabel:S%7C40.702147,-74.015794&amp;markers=color:green%7Clabel:G%7C40.711614,-74.012318&amp;markers=color:red%7Clabel:C%7C40.718217,-73.998284"

<%= image_tag "https://www.google.com/maps/@?api=1&map_action=map&center=#{@location.latitude},#{@location.longitude}&zoom=12")%>
<% end %><br>
<%= link_to 'Back', locations_path %>
