
<h4>User: <%= @location.user.username %></h4>
<h4>Latitude: <%= @location.latitude %></h4>
<h4>Longitude: <%= @location.longitude %></h4>

<% if picture_for(@location, size: 300) == nil %>
<%= @location.image %><br>
<% else %>
<%= picture_for(@location, size: 600)%>
<% end %><br>
<%= link_to 'Back', locations_path %>
