
<h4>User: <%= @location.user.username %></h4>
<h4>Latitude: <%= @location.latitude %></h4>
<h4>Longitude: <%= @location.longitude %></h4>

<% if picture_for(@location, size: 300) == nil %>
<%= @location.image %><br>
<% else %>
<%= picture_for(@location, size: 600)%><br>
<%= image_tag "http://maps.googleapis.com/maps/api/staticmap?mapTypeId:'satellite'&size=600x600&sensor=false&zoom=16&markers=#{@location.latitude}%2C#{@location.longitude}"%>

<% end %><br>
<%= link_to 'Back', locations_path %>
