<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Tracerapp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%#<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> %>
          <%= link_to 'Home', locations_path, :class => 'nav-link'%>
        </li>
        <li class="nav-item">
          <%# <a class="nav-link" href="#">Features</a> %>
          <%= link_to 'Your location?', new_location_path, :class => 'nav-link' %>
        </li>
        <li class="nav-item">
          <%# <a class="nav-link" href="#">Pricing</a> %>
          <%= link_to 'Login', login_path, :class => 'nav-link' %>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="divider"></li>
           <li><%= link_to "Logout", logout_path, :class => 'nav-link' %></li>
        </li>

   


      </ul>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
      </form>

   <% if logged_in? %> 
     <ul class="nav_item">
      <li class="dropdown">
       <%= link_to "#", class: "btn btn-default btn-danger dropdown-toggle", "data-toggle" => "dropdown" do %>
        <%= current_user.username %> <b class="caret"></b>
       <% end %>
         <ul class='dropdown-menu'>
           <li><%= link_to "View Profile", user_path(current_user) %></li>
           <li><%= link_to "Edit Profile", edit_user_path(current_user) %></li>
           <% if current_user %>
	    <%end%>
	   <li class="divider"></li>
           <li><%= link_to "Logout", logout_path %></li>
         </ul>
      </li>
    </ul>
   <% else %>
     <div class="nav_item">
       <%= link_to "Log in", login_path, class: "btn btn-default btn-success" %>
     </div>
    <% end %>
    </div>
  </nav>