<!DOCTYPE html>
<html>
  <head>
    <title>Tracerapp</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="UTF-8">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
  <%= render 'layouts/navigation' unless @disable %>
      <%= yield %>
  <%#= render 'layouts/footer' unless @disable %>
  </body>
</html>
